* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
    transition: 0.01s;
}
a:hover {
    color: #fff;
}

body {
    margin: 0;
    font-family: "07にくまるフォント";
    background-size: cover;
    background-image: url("./img/_.jpeg");
    background-attachment: fixed;
}
.header {
    display: flex;
    position: fixed;
    background-color: aliceblue;
    padding: 0 10%;
    width: 100%;
    height: 8vh;
    align-items: center;
    z-index: 99999999;
    opacity: 80%;
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.nav {
    margin-left: auto;
}

.nav-item {
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.main {
    height: 3000px;
    width: 100%;
}

.fv{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.fv .card-1 {
    height: 100vh;
    background-color: #fff;
}